<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - ingreso de productos</title>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <% if (products.length) { %>
        <h2>Productos (ejs)</h2>
        <table class="table table-dark table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
            <% products.forEach(elem => {  %>
                <tr>
                    <th scope="row"><%-elem.id%></th>
                    <th scope="row"><%-elem.title%></th>
                    <th scope="row"><%-elem.price%></th>
                    <th scope="row"><img src="<%-elem.thumbnail%>" width="200px" height="200px"/></th>
                </tr>
            <% } ) %>
            </tbody>
        </table>
    <% } else { %>
            <h2>No hay producto</h2>
            <% } %>
    <a href="/api/">Volver al formulario</a>
</body>
</html>